<script type="text/javascript" src="/js/borga-games.js"></script>
<div class="form-floating flex">
    <h2>List of Games</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Mechanics</th>
        <th scope="col">Categories</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
            {{>game}}
        {{/each}}
    </tbody>
    </table>
</div>