<script type="text/javascript" src="/js/borga-index.js"></script>

<div class="form-signin">
    <h1>BOrga App</h1>

    <div class="form-floating"> 
        <input type="text" class="form-control" id="Username" placeholder="Username", name="name" required>
    </div>
    
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
    </div>
    
    <button id="sign-in-btn" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <button id="sign-up-btn" class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; ISEL 2021</p>
</form>
